.container{
  margin-top: 20px;
  width: 500px;
  height: 500px;
  background-color: blanchedalmond;
}

.row {
  box-sizing: border-box;
  border: 2px solid black;
  width: 320px;
  height: 20px;
  display: flex;
}

.square {
  box-sizing: border-box;
  border: 2px solid black;
  width: 20px;
  height: 20px;
}